@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

.container{
    height: 100vh;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.images-div{
    position: relative;
    box-sizing: border-box;
    max-width: calc(50vw - 80px);
    max-height: 100%;
}

.plant-div > img{
    box-sizing: border-box;
    position: relative;
    object-fit: cover;
    width: 500px;
    height: 900px;
}

.logo-background-div{
    background-color: black;
    opacity: .5;
    position: absolute;
    top: 200px;
    width: 500px;
    height: 130px;
}

.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div > img{
    top: 210px;
    right: 260px;
    width: 90px;
    height: 110px;
    position: absolute;
}

.logo-div > p{
    font-family: norse-bold;
    font-size: 90px;
    color: white;
    margin: 0;
    margin-top: 20px;
    position: absolute;
    top: 210px;
    right: 120px;
}

.photo-creds{
    position: absolute;
    top: 850px;
    left: 130px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.photo-creds > a{
    color: white;
}

.text-div{
    width: calc(50vw - 80px);
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.text-div > p{
    margin-left: 30px;
    font-weight: 600;
    font-size: 23px;
}

input,
label,
button{
    margin: 0;
    padding: 0;
    width: 200px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
    width: calc(50vw + 20px);
    box-shadow: 5px 5px 10px grey;
}

.form-row{
    display: flex;
}

.form-item{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-item > label{
    display: block;
    margin-bottom: 2px;
    font-size: .8rem;
}

.form-item > input{
    border-radius: 5px;
    height: 30px;
    border: 1px solid #E5E7EB;
}

input[type="password"]:invalid{
    border: 1px solid red;
}

input:focus{
    border: .5px solid lightblue;
    box-shadow: 4px 4px 5px grey;
}

h2{
    margin-left: 30px;
}

form > button{
    height: 40px;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #596D48;
}

#login-para{
    font-size: 1.4rem;
    font-weight: 100;
}

#login-para > a{
    text-decoration: none;
    color: #596D48;
}